@import '../../main-website/post-job/post-job.component.scss';

.header {
    min-height: 250px;
    background-image:linear-gradient(135deg, rgba(17, 17, 17, 0.904) 0%, rgba(17, 17, 17, 0.842) 100%), url(/assets/img/banner/pattern-3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
  }

  
.download a {
    box-shadow: inherit;
    border:none;
    border-radius: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: block;
    text-align: left;
    width:100%;
}
.review-section{
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #dfdfdf;
}
.review-item{
  &:not(:last-child)
  {
    margin-bottom: 1.5rem;
  }
  

  h5{
    font-size: 1.2rem;
  }

  .job-label{
    opacity: 0.8;
  }

  p{
    font-weight: 600;
    font-size: 0.9rem;
    color:#101010;
  }
  .job-attachment{
    display: flex;
    img{
      margin-right:1rem;
      height: 3rem;
    }
  }
}

.option-block{
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  background-color: rgb(243, 243, 243);
  text-align: center;
  border-radius: 4px;
}

.job-icon{
  display: flex;
  i{
    font-size: 1.5rem;
    &:not(:last-child){
      margin-right: 0.5rem;
    }
    
  }
}