.card-stats .card-body{
    padding: 2rem 1.5rem;

    img{
        //filter: brightness(0) invert(1);
    }
}

.card-stats{
    box-shadow: -1px 8px 6px 1px rgba(0, 0, 0, 0.1), 3px 8px 8px 0px rgba(0, 0, 0, 0.06);
     // background: #1b184a;
      //border-color: #1b184a;
      background-color: #fff;
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.966), rgba(255, 255, 255, 0.911)), url(/assets/img/bg/pattern-bg.jpg);
      //color: #fff;
      background-size: 30%;
      background-repeat: round;
  
  }
.bg-primary-img{
    background-image: url(/assets/img/banner/banner-bg2.jpg);
    //background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
    background-position: center;
    background-size: 30%;
    background-repeat: round;
}




.card-number{
    font-size:4rem;
    font-weight:900;
  }