@import '../../freelancer/freelancer-jobs/freelancer-jobs.component.scss';

.date{
    text-align: left;
}

.job-data{
    font-weight: 600;
    font-size: 0.8rem;
    
    .number{
        font-weight: 700;
        font-size: 1.5rem;
        color:#32325d;
    }
}

.status-btns{
    text-align: right;
}