@import '.././job-desc/job-desc.component.scss';

.field-info{
    font-size: 0.8rem;
    text-align: right;
    margin: 4px 0;
  }
  .form-segment{
      border-bottom: 1px solid rgb(226, 226, 226);
      padding:1rem 0;
  }