#username {
  // background-image: url('/assets/img/icons/check.png');
  background-position: right;
  padding-left: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #301ce0d0 0%, rgba(83, 159, 253, 0.781) 30%, #51eca6c0 100%), url(/assets/img/wrapper-bg.jpeg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
}

.container{
  max-width: 1000px;
}
  a {
    display: inline-block;
    text-decoration: none;
  }

  input {
    outline: none !important;
  }

  h1 {
    text-align: center;
    font-weight: 700;
  }

  .welcome-text{
    margin: 3rem 0 1rem;
    h1{
      color: #fff;

    }
  }
  .brand {
    padding: 20px;
    background: url(https://goo.gl/A0ynht);
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 700px;
    position: relative;
    //box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 500;
  }
  .brand.active {
    width: 100%;
  }
  .brand::before {
    content: "";
    border-radius:0.5rem;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -2px;
    top: 0;
    background: linear-gradient(to bottom right, #0082c1, #009379);
    z-index: -1;
  }
  .brand a.logo {
    color: #f95959;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
  }
  .brand a.logo img {
    width: 50px;
    filter: brightness(0) invert(1);
  }
  .brand .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.6s;
  }
  .brand .heading.active {
    top: 100px;
    left: 100px;
    transform: translate(0);
  }
  .brand .heading h2 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -0.1rem;
    margin-bottom: 0;
  }
  .brand .heading p {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    text-transform: capitalize;
    letter-spacing: -0.02rem;
    white-space: 4px;
  }
 
  .login-img{
      margin-top: 2rem;
      width:300px;
  }

  .form {
    position: relative;
  }
  .form .form-peice {
    background: #111111;
    min-height: 700px;
    border-radius:0.5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #bbbbbb;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    top: 0;
    left: -30%;
    width: 130%;
    overflow: hidden;
  }
  @keyframes fade_in {
    0%{
      opacity: 0;
      transform: translateY(100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }

  }
  .form-head{
    margin: 3rem 0 0;
    margin-left: 30%;
      h2{
        text-align: left;
          font-size: 2rem;
          font-family: "Raleway", sans-serif;
          text-transform: capitalize;
      }
      p{
        margin-top: 2rem;
      }
  }
  .signup-head{
    margin-top: 0.5rem;
  }
  .form .form-peice.switched {
    transform: translateX(-100%);
    width: 100%;
    left: 0;
  }
  .form form {
    padding: 0 60px;
    padding-left: 0;
    width: 70%;
    position: absolute;
    /* top: 52%; */
    left: 30%;
    /* transform: translate(-50%, -50%); */
  }
  .form form .form-group {
    margin-bottom: 5px;
    position: relative;
  }
  .form form .form-group.hasError input {
    border-color: #f95959 !important;
  }
  .form form .form-group.hasError label {
    color: #f95959 !important;
  }
  .form form label {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    transform: translateY(40px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
  }
  .form form label.active {
    transform: translateY(10px);
    font-size: 10px;
  }
  .form form label.fontSwitch {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
  }
  .form form input:not([type=submit]) {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
     font-family: 'Raleway', sans-serif;
    z-index: 1;
  }
  .form form input:not([type=submit]).hasError {
    border-color: #f95959;
  }
  .form form span .error {
    color: #f95959;
    font-size: 10px;
    position: absolute;
    font-weight: 400;
    bottom: -25px;
    letter-spacing: 0.5px;
    right: 0;
    display: none;
  }
  .form form input[type=password] {
    color: #f95959;
  }
  .form form .CTA {
    margin-top: 30px;
  }
  .form form .CTA button {
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    background: #f95959;
    color: #fff;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    font-family: "Raleway", sans-serif;
  }
  .form form .CTA a.switch {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 1rem;
    float: right;
     font-family: 'Raleway', sans-serif;
    color: #bbbbbb;
    text-decoration: underline;
    transition: all 0.3s;
  }
  .form form .CTA a.switch:hover {
    color: #f95959;
  }

  .form{
    input:-internal-autofill-selected{
        background-color: transparent !important;
    }
  }




  @media (max-width: 768px) {
    .container {
      overflow: hidden;
    }

    section#formHolder {
      padding: 0;
    }
    section#formHolder div.brand {
      min-height: 200px !important;
      display: none;
    }
    section#formHolder div.brand.active {
      min-height: 100vh !important;
    }
    section#formHolder div.brand .heading.active {
      top: 200px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    section#formHolder div.brand .success-msg p {
      font-size: 16px;
    }
    section#formHolder div.brand .success-msg a {
      padding: 5px 30px;
      font-size: 10px;
    }
    .form .form-peice{
      min-height: auto;
    }
    .form-head{
        width: 100%;
        margin-left: 0%;
        padding: 0 1rem 1rem;
        h2{
            font-size: 1.5rem;
            text-align: center;
        }
        p{
          text-align: center;
        }

    }
    section#formHolder .form {
      width: 100%;

      margin: auto;
    }
    .form form{
      position: relative;
      transform: translate(0,0);
    }
    section#formHolder .form .form-peice {
      margin: auto;
      top: 0;
      left: 0;
      position: relative;
      width: 100%;
      border-radius: 2px;
      max-width: 500px;
      transform: translate(0,0);
      transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
     // transition: all 0.5s ease-in-out;
      animation: fade_in 0.5s cubic-bezier(1, -0.375, 0.285, 0.995) forwards;
    }

    section#formHolder .form .form-peice.switched {
      display: none;
      width: 100%;
      left: 0;
    }
    section#formHolder .form .form-peice > form {
      width: 100% !important;
      padding: 1rem 2rem;
      left: 0%;
    }
  }
  @media (max-width: 480px) {
    section#formHolder .form {
      width: 100vw;
      margin-left: 0;
    }

    .form-head{
      margin: 1rem 0 0;
      h2{
          font-size: 2.2rem;
      }

  }
  }
