<!--MAIN BANNER AREA START -->
<div class="banner-1 top-banner" id="page-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="job-container">
          <div class="job-card">
            <div class="job-heading">
              <h2>
                Job Details
              </h2>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="job-section">
                  <h3 class="job-title">
                    Optimization of Existing almost complete Website
                  </h3>
                  <hr />
                </div>

                <div class="job-section">
                  <h5>
                    Date Posted:
                    <span class="text-default">20 March, 2020</span>
                  </h5>
                  <h5>
                    Category:
                    <a class="text-default" href="">Web Development </a>
                  </h5>
                  <hr />
                </div>

                <div class="job-section">
                  <h4>
                    Job Description:
                  </h4>
                  <p class="mt-2 text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iure voluptatem doloremque iusto cupiditate, corrupti aut
                    dolorum laudantium. Soluta exercitationem a ducimus tempore
                    earum omnis doloremque rerum repellat ex totam nulla magnam
                    provident ipsa repellendus perferendis sapiente aliquam
                    aperiam enim rem, facere fugit, voluptatem doloribus
                    distinctio laborum? Pariatur sequi ab sit accusamus
                    distinctio dolores repellendus consequuntur!
                  </p>
                  <hr />
                </div>
                <div class="job-section">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="job-icon">
                        <i class="icofont-dollar"></i>
                        <div class="icon-text">
                          <h6>$12/hr</h6>
                          <p>
                            Hourly
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="job-icon">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <div class="icon-text">
                          <h6>Intermediate Level</h6>
                          <p>I am looking for a mix of experience and value</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="job-icon">
                        <i class="icofont-wall-clock"></i>
                        <div class="icon-text">
                          <h6>1 to 3 months</h6>
                          <p>Project Length</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>

                <div class="job-section">
                  <h5>
                    Project Type:
                    <span class="text-default">One-time Project</span>
                  </h5>
                  <hr />
                </div>

                <div class="job-section">
                  <h4>
                    Skills and expertise
                  </h4>
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="mt-4">
                        Frontend Development
                      </h6>
                      <div class="row">
                          <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="tag">
                                Web Design
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="tag">
                                Web Development
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="tag">
                                Bug Fixes
                              </div>
                          </div>
                      </div>
                     
                     
                    </div>

                    <div class="col-md-12">
                        <h6 class="mt-4">
                          Business size Experience
                        </h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                              <div class="tag">
                                  Very small (less than 10)
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                              <div class="tag">
                                 Medium size 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                              <div class="tag">
                                  Bug Fixes
                                </div>
                            </div>
                        </div>
                       
                       
                      </div>
                  </div>
                  <hr />
                </div>

                <div class="job-section">
                  <h4 class="mb-2">
                    Preferred Qualifications:
                  </h4>
                  <div class="row">
                      <div class="col-3">
                        <h6>
                            Talent Type:
                        </h6>
                      </div>
                      <div class="col-8">
                        <p class="p text-dark">Agency</p>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <h6>
                        Job Success Score:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p class="p text-dark">At least 90%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <h6>
                        Include Rising Talent:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p class="p text-dark">Yes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <h6>
                        English level:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p class="p text-dark"> Native or Bilingual</p>
                    </div>
                </div>

                 
                </div>
              </div>

              <div class="col-lg-4">
                  <div class="place-bid ">
                      <a [routerLink]="['/bid-job']" class="btn btn-hero">
                          Place Bid
                      </a>
                  </div>

                  <div class="about-employer">

                    <h4>
                        About the employer
                    </h4>
                   
                    <h5 class="text-primary"> Payment method not verified </h5>
                   
                    <h5> <span class="text-primary">54</span> job posted</h5>
                  
                    <h5> Member since Mar 14, 2016</h5>
                   

                    <h5>
                        Job link : <a href="#" target="_blank"> job link</a>
                    </h5>
                    
                    
                    
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN HEADER AREA END -->
