<!--MAIN BANNER AREA START -->
<div class="banner-1 top-banner" id="page-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="job-container">
          <div class="job-card">
            <div class="job-heading">
              <h2>
                Job Details
              </h2>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="job-section">
                  <h3 class="job-title">
                    {{job?.jobTitle}}
                  </h3>
                  <hr />
                </div>

                <div class="job-section">
                  <h5>
                    Date Posted:
                    <span class="text-default">{{job?.jobPosteddate | date: 'MMMM d,y'}}</span>
                  </h5>
                  <h5>
                    Category:
                    <a class="text-default" href="">{{job?.jobCategory}} </a>
                  </h5>
                  <hr />
                </div>

                <div class="job-section">
                  <h4>
                    Job Description:
                  </h4>
                  <p class="mt-2 text-justify">
                    {{job?.jobDesc}}
                  </p>
                  <hr />
                </div>
                <div class="job-section">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="job-icon">
                        <i class="icofont-dollar"></i>
                        <div class="icon-text">
                          <h6 *ngIf="job?.jobBudgetType == 'pay by hour'">${{job?.jobBudget}}/hr</h6>
                          <h6 *ngIf="job?.jobBudgetType == 'fixed price'">${{job?.jobBudget}}</h6>
                          <p *ngIf="job?.jobBudgetType == 'pay by hour'">
                            Hourly
                          </p>
                          <p *ngIf="job?.jobBudgetType == 'fixed price'">
                            Fixed
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div *ngIf="job?.freelancerLevel == 'entrylevel'" class="job-icon">
                        <i class="icofont-star"></i>
                        <div class="icon-text">
                          <h6>Entry Level</h6>
                          <p>I am looking for a beginner</p>
                        </div>
                      </div>
                      <div *ngIf="job?.freelancerLevel == 'intermediate'" class="job-icon">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <div class="icon-text">
                          <h6>Intermediate Level</h6>
                          <p>I am looking for a mix of experience and value</p>
                        </div>
                      </div>
                      <div *ngIf="job?.freelancerLevel == 'expert'" class="job-icon">
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <i class="icofont-star"></i>
                        <div class="icon-text">
                          <h6>Expert Level</h6>
                          <p>I am willing to pay higher rates for the most experienced freelancers</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="job-icon">
                        <i class="icofont-wall-clock"></i>
                        <div class="icon-text">
                          <h6 *ngIf="job?.jobProjectLength == 'less than a month'">Less than 1 months</h6>
                          <h6 *ngIf="job?.jobProjectLength == 'one to three months'">1 to 3 months</h6>
                          <h6 *ngIf="job?.jobProjectLength == 'three to six months'">3 to 6 months</h6>
                          <p>Project Length</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>

                <div class="job-section">
                  <h5>
                    Project Type:
                    <span *ngIf="job?.jobProjectType == 'onetime project'" class="text-default">One-time Project</span>
                    <span *ngIf="job?.jobProjectType == 'ongoing project'" class="text-default">Ongoing Project</span>
                    <span *ngIf="job?.jobProjectType == 'complex project'" class="text-default">Complex Project</span>
                  </h5>
                  <hr />
                </div>

                <div class="job-section">
                  <h4>
                    Skills and expertise
                  </h4>
                  <div class="row">
                    <div class="col-md-12" *ngFor="let exp of job?.jobExpertise">
                      <h6 class="mt-4">
                        {{ exp?.expertise }}
                      </h6>
                      <div class="row">
                          <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let option of exp.options">
                            <div class="tag">
                                {{option}}
                              </div>
                          </div>
                      </div>


                    </div>

                  </div>
                  <hr />
                </div>

                <div class="job-section">
                  <h4 class="mb-2">
                    Preferred Qualifications:
                  </h4>
                  <div class="row">
                      <div class="col-3">
                        <h6>
                            Talent Type:
                        </h6>
                      </div>
                      <div class="col-8">
                        <p *ngIf="job?.jobPreference.type == 'any'" class="p text-dark">Any</p>
                        <p *ngIf="job?.jobPreference.type == 'independent'" class="p text-dark">Independent</p>
                        <p *ngIf="job?.jobPreference.type == 'agency'" class="p text-dark">Agency</p>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <h6>
                        Job Success Score:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p *ngIf="job?.jobPreference.success_score == 'anysuccess'" class="p text-dark">Any</p>
                      <p *ngIf="job?.jobPreference.success_score == 'above80'" class="p text-dark">Above 80%</p>
                      <p *ngIf="job?.jobPreference.success_score == 'above90'" class="p text-dark">At least 90%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <h6>
                        Amount Earned:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p *ngIf="job?.jobPreference.amount_earned == 'anyamount' " class="p text-dark">Any Amount Earned</p>
                      <p *ngIf="job?.jobPreference.amount_earned == '100k' " class="p text-dark">100K+ Earned</p>
                      <p *ngIf="job?.jobPreference.amount_earned == '10k' " class="p text-dark">10K+ Earned</p>
                      <p *ngIf="job?.jobPreference.amount_earned == '1k' " class="p text-dark">1K+ Earned</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <h6>
                        English level:
                      </h6>
                    </div>
                    <div class="col-8">
                      <p *ngIf="job?.jobPreference.english_level == 'anylevel'" class="p text-dark"> Any Level</p>
                      <p *ngIf="job?.jobPreference.english_level == 'converstional'" class="p text-dark"> Coversational or better</p>
                      <p *ngIf="job?.jobPreference.english_level == 'fluent'" class="p text-dark"> Fluent or better</p>
                      <p *ngIf="job?.jobPreference.english_level == 'native'" class="p text-dark"> Native or Bilingual</p>
                    </div>
                </div>


                </div>
              </div>

              <div class="col-lg-4">
                  <div class="place-bid ">
                      <a (click)="placeBid()" class="btn btn-hero">
                          Place Bid
                      </a>
                  </div>

                  <div class="about-employer">

                    <h4>
                        About the employer
                    </h4>

                    <h5 class="text-primary"> Payment method not verified </h5>

                    <h5> <span class="text-primary">{{employer?.totalJobPosted}}</span> job posted</h5>

                    <h5> Member since {{employer?.memberAt | date:'MMMM d,y'}}</h5>


                    <h5>
                        Job link : <a href="#" target="_blank"> job link</a>
                    </h5>



                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN HEADER AREA END -->
