
.page-banner-area{
    background: linear-gradient(135deg, #202020fa 0%, #0d0d0dd4 30%, rgba(17, 17, 17, 0.85) 100%), url(/assets/img/blog/blog-lg.jpeg), no-repeat 50% 50%;
    background-size: cover;
}


.blog-post{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    padding:1rem 1rem 1rem;
}
.post-info{
    font-weight: 600;
}



.category{
    margin-top: 1.5rem;
    padding-top: 2rem;
   
    border-top: 1px solid #ccc;
    &-box{
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        border: 1px solid rgb(224, 224, 224);
        transition: all 300ms;
        text-align: center;
        border-radius: 6px;
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        img{
            width: 50%;
            margin-bottom: 0.5rem;
        }
        &:hover{
            box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            transform: translateY(-10px);
        }
    }
}


.author-details{
    padding: 1rem 0;
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    border-top: 1px solid #ccc;

    img{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        object-position: top center;
        border-radius: 50%;
        border: 1px solid #222;
        padding: 2px;
       
    }
    .author-name{
        font-weight: 700;
        color: #000;
        margin-left: 1rem;
    }
}

.read-more{
    font-weight: 600;
}

.blog-post-small{
    padding:0 1rem 0rem;

    .author-details img{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.all-blogs{
    border-top: 1px solid #ccc;
    padding: 2rem 0;
    margin: 1rem 0;

h1{
    margin-bottom: 2rem;
}

    .blog-post-small{
        padding:1rem 1rem 0rem;
    }
}

@media all and (max-width:991px){
    .blog-side-bar{
        margin-top: 2rem;
    }
}