<div class="header pb-6 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1 class="display-2 text-white">Job Description Page</h1>
         
             
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid  mt--6">
    <div class="row justify-content-center">
      <!-- <div class="col-xl-4 order-xl-2">
        <div class="card border-0 card-profile">
          <img
            src="../../assets/img/bg/pattern-bg-black.jpg"
            alt="Image placeholder"
            class="card-img-top cover-photo"
          />
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img
                    src="../../assets/img/theme/team-4.jpg"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            
            </div> 
          </div>
          <div class="parent-wrapper">
            <div class="card-body pt-0" id="basic-content">
              <div class="text-center">
                <h5 class="h3">
                  Username
                </h5>
                <h6>
                  example123@codex.com
                </h6>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Frontend Developer
                </div>
                <div class="text-default">
                  <i class="ni education_hat mr-2"></i>Your hourly rate
                  <strong class="text-dark">$12/hr</strong>
                </div>
              </div>
            </div>
           
          </div>
         
        </div>
      </div> -->
      <div class="col-xl-10 order-xl-1">
       
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h2 class="mb-0">Job Title</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="job-section">
                        <h3 class="job-title">
                          Optimization of Existing almost complete Website
                        </h3>
                        <hr />
                      </div>
      
                      <div class="job-section">
                        <h5>
                          Date Posted:
                          <span class="text-default">20 March, 2020</span>
                        </h5>
                        <h5>
                          Category:
                          <a class="text-default" href="">Web Development </a>
                        </h5>
                        <hr />
                      </div>
      
                      <div class="job-section">
                        <h4>
                          Job Description:
                        </h4>
                        <p class="mt-2 text-justify">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Iure voluptatem doloremque iusto cupiditate, corrupti aut
                          dolorum laudantium. Soluta exercitationem a ducimus tempore
                          earum omnis doloremque rerum repellat ex totam nulla magnam
                          provident ipsa repellendus perferendis sapiente aliquam
                          aperiam enim rem, facere fugit, voluptatem doloribus
                          distinctio laborum? Pariatur sequi ab sit accusamus
                          distinctio dolores repellendus consequuntur!
                        </p>
                        <hr />
                      </div>
                      <div class="job-section">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="job-icon">
                              <i class="icofont-dollar"></i>
                              <div class="icon-text">
                                <h6>$12/hr</h6>
                                <p>
                                  Hourly
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="job-icon">
                              <i class="icofont-star"></i>
                              <i class="icofont-star"></i>
                              <div class="icon-text">
                                <h6>Intermediate Level</h6>
                                <p>I am looking for a mix of experience and value</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="job-icon">
                              <i class="icofont-wall-clock"></i>
                              <div class="icon-text">
                                <h6>1 to 3 months</h6>
                                <p>Project Length</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr />
                      </div>
      
                      <div class="job-section">
                        <h5>
                          Project Type:
                          <span class="text-default">One-time Project</span>
                        </h5>
                        <hr />
                      </div>
      
                      <div class="job-section">
                        <h4>
                          Skills and expertise
                        </h4>
                        <div class="row">
                          <div class="col-md-12">
                            <h6 class="mt-4">
                              Frontend Development
                            </h6>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                  <div class="tag">
                                      Web Design
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                  <div class="tag">
                                      Web Development
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                  <div class="tag">
                                      Bug Fixes
                                    </div>
                                </div>
                            </div>
                           
                           
                          </div>
      
                          <div class="col-md-12">
                              <h6 class="mt-4">
                                Business size Experience
                              </h6>
                              <div class="row">
                                  <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tag">
                                        Very small (less than 10)
                                      </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tag">
                                       Medium size 
                                      </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="tag">
                                        Bug Fixes
                                      </div>
                                  </div>
                              </div>
                             
                             
                            </div>
                        </div>
                        <hr />
                      </div>
      
                      <div class="job-section">
                        <h4 class="mb-2">
                          Screening Questions
                        </h4>
                      <div *ngFor="let item of screeningQuestions;let i = index">
                        <p class="question">Q{{i+1}}. {{item.title}} </p>
                        <p class="answer"> {{item.answer}} </p>
                      </div>
                      <hr>
                      </div>

                      <div class="job-section">
                        <h4 class="mb-2">
                          Preferred Qualifications:
                        </h4>
                        <div class="row">
                            <div class="col-3">
                              <h6>
                                  Talent Type:
                              </h6>
                            </div>
                            <div class="col-8">
                              <p class="p text-dark">Agency</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <h6>
                              Job Success Score:
                            </h6>
                          </div>
                          <div class="col-8">
                            <p class="p text-dark">At least 90%</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-3">
                            <h6>
                              Include Rising Talent:
                            </h6>
                          </div>
                          <div class="col-8">
                            <p class="p text-dark">Yes</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-3">
                            <h6>
                              English level:
                            </h6>
                          </div>
                          <div class="col-8">
                            <p class="p text-dark"> Native or Bilingual</p>
                          </div>
                      </div>
      
                       
                      </div>
                    </div>
      
                   
                  </div>
                
          </div>
        </div>
      </div>
    </div>
  </div>
