
    <div class="page-banner-area page-contact" id="page-banner">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding">
                        <h1 class="text-white">Blog Details</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->
    
    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                                    <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <img src="images/blog/blog-lg.jpg" alt="" class="img-fluid">
                                   
                                    
                                   <h2>Will Updates to Codex Skills Impact Your Profile or Job Post?</h2>
                                    

                                    <div class="author-details author-details-big">
                                        <img src="assets/img/team/team-1.jpg" alt="" class="author-img">
                                        <div class="more-details">
                                            <span class="author-name">
                                                Posted by:
                                                <br>
                                                <strong>
                                                    Author Name
                                                </strong>
                                               <div class="date mt-3">12 March 2020</div>
                                            </span>
                                        </div>
                                        
                                    </div>

                                    <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aliquid perspiciatis voluptate voluptatibus, dolorem laboriosam deleniti dolores reprehenderit nostrum odit, fuga iusto perferendis quas suscipit corporis obcaecati maxime provident cumque!</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veri.</p>
    
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempore, laboriosam ratione ipsam animi nam consectetur atque rem perspiciatis natus earum magni tempora quos. Dolores quibusdam voluptatem ad nesciunt ea, doloremque illum necessitatibus ex in numquam nulla veniam dicta fugiat eum obcaecati illo. Laboriosam dolorum sed quos numquam! Magni, necessitatibus doloribus itaque natus recusandae fugiat laudantium reiciendis, quo fugit consequuntur, eaque ut non praesentium officiis in alias rem nesciunt voluptatibus omnis voluptas debitis! Consequuntur, labore.
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime possimus ad porro suscipit. Tempore, deserunt quae? Quaerat ex numquam sequi consectetur laborum adipisci, at, repellat, corporis expedita earum aperiam ipsum praesentium nulla maiores. Doloribus beatae nam alias, suscipit eveniet ratione adipisci reiciendis explicabo corporis quas a debitis facere mollitia iste at animi cumque ut et enim quo odio itaque. Saepe molestias dicta laudantium, enim magnam qui fuga commodi pariatur doloribus ratione, assumenda rem culpa quibusdam, hic quaerat inventore natus eius autem distinctio! Aperiam, tempora dolore placeat aut veritatis maxime, inventore, ipsa at obcaecati dolor impedit ipsam pariatur nesciunt unde.
                                    </p>
                                    <blockquote class="quote">
                                        <i class="fa fa-quote-left"></i>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nobis, molestias ipsam assumenda debitis quibusdam mollitia laudantium facere neque quas optio sequi eligendi recusandae, veritatis dicta asperiores ex fugiat quasi!
                                    </blockquote>
    
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                    <div class="mt-5 mb-3">
                                        <h5 class="d-inline-block mr-3">Tags:</h5>
                                        <ul class="list-inline d-inline-block">
                                            <li class="list-inline-item"><a href="#">Agency</a>,</li>
                                            <li class="list-inline-item"><a href="#">Marketing</a>,</li>
                                            <li class="list-inline-item"><a href="#">Business</a></li>
                                        </ul>
                                    </div>

                                    <div class="mt-5 mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="like-btn">
                                            
                                                <svg viewBox="0 0 100 90" width="100" height="90">
                                                    <circle
                                                        cx="25"
                                                        cy="25"
                                                        r="25">
                                                    </circle>
                                                    <circle
                                                        cx="75"
                                                        cy="25"
                                                        r="25">
                                                    </circle>
                                                    <path
                                                        d="M 0 25 q 0 40 50 65 q 50 -25 50 -65">
                                                    </path>
                                                </svg>
                                            
                                        </div>

                                        <span class="like-text">
                                            Like Blog
                                        </span>
                                        </div>
                                        
                                    </div>
                                    <div class="my-4 social-icons">
                                        <h5 class="d-inline-block mr-3">Share Now:</h5>
                                        <ul class="list-inline d-inline-block">
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
    
    
                               
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 blog-side-bar">
                      <div class="row">
                          
                        <div class="col-lg-12">
                            <h3 class="mb-4">You may also like</h3>

                            <div class="blog-post blog-post-small">
                                <div class="mt-4 mb-3 d-flex justify-content-between">
                                    <div class="post-author mr-3">
                                        <span class="h5 text-capitalize">
                                            <a href="">
                                                Working Remotely
                                        </a>
                                        </span>
                                    </div>
    
                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>19 jun 18</span>
                                    </div>
                                </div>
                                <a routerLink="./post" class="h4 ">Falling in lin in google strategy</a>
                                <p class="mt-3">Lorem ipsum dolo, amet consectetur consectetur adipisicing....</p>
                                <a routerLink="./post" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                                <div class="author-details">
                                    <img src="assets/img/team/team-1.jpg" alt="" class="author-img">
                                    <span class="author-name">
                                        Author Name
                                    </span>
                                </div>
                            </div>

                            <div class="blog-post blog-post-small">
                                <div class="mt-4 mb-3 d-flex justify-content-between">
                                    <div class="post-author mr-3">
                                        <span class="h5 text-capitalize">
                                            <a href="">
                                                Working Remotely
                                        </a>
                                        </span>
                                    </div>
    
                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>19 jun 18</span>
                                    </div>
                                </div>
                                <a routerLink="./post" class="h4 ">Falling in lin in google strategy</a>
                                <p class="mt-3">Lorem ipsum dolo, amet consectetur consectetur adipisicing....</p>
                                <a routerLink="./post" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                                <div class="author-details">
                                    <img src="assets/img/team/team-1.jpg" alt="" class="author-img">
                                    <span class="author-name">
                                        Author Name
                                    </span>
                                </div>
                            </div>

                            <div class="blog-post blog-post-small">
                                <div class="mt-4 mb-3 d-flex justify-content-between">
                                    <div class="post-author mr-3">
                                        <span class="h5 text-capitalize">
                                            <a href="">
                                                Working Remotely
                                        </a>
                                        </span>
                                    </div>
    
                                    <div class="post-info">
                                        <i class="fa fa-calendar-check"></i>
                                        <span>19 jun 18</span>
                                    </div>
                                </div>
                                <a routerLink="./post" class="h4 ">Falling in lin in google strategy</a>
                                <p class="mt-3">Lorem ipsum dolo, amet consectetur consectetur adipisicing....</p>
                                <a routerLink="./post" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                                <div class="author-details">
                                    <img src="assets/img/team/team-1.jpg" alt="" class="author-img">
                                    <span class="author-name">
                                        Author Name
                                    </span>
                                </div>
                            </div>


                        </div>
    
                        </div>
                    </div>
                </div>   
            </div>
        
    </section>
    
    