<div class="header bg-primary-img pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row justify-content-center align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="h1 text-white text-center d-inline-block mb-0">Welcome to your Employer Dashboard</h1>
            
          </div>
          
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title text-uppercase mb-0">Jobs Active</h5>
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="row align-items-center">
                  <div class="col-6">
                      <img src="assets/img/icons/active.svg" alt="">
                  </div>
                  <div class="col-6 text-right">
                    <span class="h1 card-number text-white font-weight-bold mb-0 gradient-text-color">5</span>  
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title text-uppercase mb-0">Jobs Posted</h5>
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="row align-items-center">
                  <div class="col-6">
                      <img src="assets/img/icons/jobs-completed.svg" alt="">
                  </div>
                  <div class="col-6 text-right">
                    <span class="h1 card-number text-white font-weight-bold mb-0 gradient-text-color">25</span>  
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title text-uppercase mb-0">pending blogs</h5>
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="row align-items-center">
                  <div class="col-6">
                      <img src="assets/img/icons/pending.svg" alt="">
                  </div>
                  <div class="col-6 text-right">
                    <span class="h1 card-number text-white font-weight-bold mb-0 gradient-text-color">16</span>  
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title text-uppercase mb-0">approved blogs</h5>
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="row align-items-center">
                  <div class="col-6">
                      <img src="assets/img/icons/approved.svg" alt="">
                  </div>
                  <div class="col-6 text-right">
                    <span class="h1 card-number text-white font-weight-bold mb-0 gradient-text-color">7</span>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
   
    
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Active Jobs Status</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Job</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Completion %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Website Deployment
                  </th>
                  <td>
                    1 April, 2016
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">60%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Website Frontend
                  </th>
                  <td>
                    16, April 2020
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">70%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Web Scrapping
                  </th>
                  <td>
                   20 April, 2020
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">80%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Admin Panel
                  </th>
                  <td>
                    28, April 2020
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">75%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Deep Learning Model
                  </th>
                  <td>
                    5 May, 2020
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">30%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">Hired Freelancer</h5>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list my--3">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">John Michael</a>
                    </h4>
                    <span class="text-success">●</span>
                    <small>Hired for</small>
                    <h6> Frontend Photography website</h6>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">Alex Smith</a>
                    </h4>
                    <span class="text-success">●</span>
                    <small>Hired for</small>
                    <h6> Backend optimization</h6>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/team-3.jpg">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">Samantha Ivy</a>
                    </h4>
                    <span class="text-warning">●</span>
                    <small>Hired For</small>
                    <h6> Frontend Photography website</h6>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">John Michael</a>
                    </h4>
                    <span class="text-success">●</span>
                    <small>Hired For</small>
                    <h6> Web Scarpping</h6>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Add</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>
  </div>

  