@import '../../freelancer/freelancer-dashboard/freelancer-dashboard.component.scss';

.bg-primary-img{
    background-image:linear-gradient(135deg, rgba(17, 17, 17, 0.904) 0%, rgba(17, 17, 17, 0.842) 100%), url(/assets/img/banner/pattern-3.png);
    //background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
    background-position: center;
    background-size: 50%;
    background-repeat: round;
}