<div class="option-overlay"></div>
<div class="dashboard-wrapper">
  <app-employer-sidebar></app-employer-sidebar>
  <div class="main-content" id="panel">
    <app-employer-header></app-employer-header>
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer class="footer pt-0">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
          <div class="col-lg-6">
            <div class="copyright text-right mt-4 text-muted">
              &copy; 2020
              <a routerLink="/" class="font-weight-bold ml-1">Codex</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>