<div class="banner-area banner-1">
    <div class="overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-sm-12 col-md-12 order-lg-first">
                        <div class="banner-content content-padding">

                            <h1 class="banner-title gradient-text">We are using blockchain as a secure payment method for all employers and freelancers.</h1>

<!-- <p>It is fast and more valuable good time for search job.</p> -->
                            <div class="banner-btns">
                                <button data-toggle="modal" data-target="#postJobModal" class="btn btn-white btn-circled mr-3" *ngIf="!share.role">post a job</button>
                                <button class="btn btn-white btn-circled mr-3" routerLink="/employer/post-job" *ngIf="share.role == 'employer'">post a job</button>
                                <a [routerLink]="['/find-job']" class="btn btn-white btn-circled">find a job</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 order-first">
                        <img src="assets/img/banner/banner-img.png" alt="" class="banner-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  SERVICE PARTNER START  -->
<section id="service-head" class=" bg-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading text-white">
                    <h4 class="section-title">Smart contracts enable safe and quick payments on our platform.</h4>
                    <!-- <p>We’re full service which means we’ve got you covered on design & content right through to digital. You’ll form a lasting relationship with us.</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->
<!--  SERVICE AREA START  -->
<section id="service" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="assets/img/icon/contact.svg" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>Smart Contracts</h4>
                        <!-- <p>Reach a huge area of users and get a publicty of your product and service ,<span>video marketing</span> solution.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="service-box ">
                    <div class="service-img-icon">
                        <img src="assets/img/icon/transfer.svg" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>Safe Transfers</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="assets/img/icon/token.svg" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>Utility tokens on platform</h4>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->
<!--  TESTIMONIAL AREA START  -->
<section id="testimonial" class="section-padding gradient-bg pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="mb-5">
                    <h3 class="mb-2">Trusted by hundred over years</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 m-auto col-sm-12 col-md-12">
                <owl-carousel
                [options]="singleCarousel"
                [carouselClasses]="['owl-theme', 'row', 'sliding']"
              >
              <div class="item">
                <div class="testimonial-content style-2">
                    <div class="author-info ">
                        <div class="author-img">
                            <img src="assets/img/author/3b.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                        <h5>Marine Joshi</h5>
                        <p>Senior designer</p>
                    </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-content style-2">
                    <div class="author-info ">
                        <div class="author-img">
                            <img src="assets/img/author/5b.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                        <h5>Marine Joshi</h5>
                        <p>Senior designer</p>
                    </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-content style-2">
                    <div class="author-info ">
                        <div class="author-img">
                            <img src="assets/img/author/3b.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way!<i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                        <h5>Marine Joshi</h5>
                        <p>Senior designer</p>
                    </div>
                </div>
              </div>
              </owl-carousel>
                <!-- <div class="carousel slide" id="test-carousel2">
                    <div class="carousel-inner">
                        <ol class="carousel-indicators">
                            <li data-target="#test-carousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#test-carousel2" data-slide-to="1"></li>
                            <li data-target="#test-carousel2" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="assets/img/author/3b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="assets/img/author/5b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="assets/img/author/3b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way!<i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!--  TESTIMONIAL AREA END  -->
<!--  SERVICE AREA START  -->
<section class="section">
    <div class="container">
        <h2 class="mb-4 text-center">How we work?</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, quae.</p>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                <img src="assets/img/how-we-work.png" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-6 pl-4">
               <div class="mb-5">

                </div>

                <ul class="about-list">
                    <li> <h4 class="mb-2"><i class="icofont icofont-check-circled"></i>Strategy 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quae officiis, fugit sed fuga veritatis! Ex iste soluta quibusdam possimus.
                        </p>
                    </li>

                    <li>
                        <h4 class="mb-2"><i class="icofont icofont-check-circled"> </i> Strategy 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quae officiis, fugit sed fuga veritatis! Ex iste soluta quibusdam possimus.
                        </p>
                    </li>

                    <li>
                        <h4 class="mb-2"><i class="icofont icofont-check-circled"> </i>Strategy 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quae officiis, fugit sed fuga veritatis! Ex iste soluta quibusdam possimus.
                        </p>
                    </li>
                    <li>
                        <h4 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Strategy 4</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quae officiis, fugit sed fuga veritatis! Ex iste soluta quibusdam possimus.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->
<!--  SECTION TEAM  -->
<!-- <section class="section-padding bg-gray team-section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h2 class="mb-2 text-center">Our Team</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <img src="assets/img/team/team-1.jpg" alt="" class="img-fluid rounded w-100 team-img">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
                <h4 class="mt-3">Michale John</h4>
                <p>Senior Manager</p>

            </div>
            <div class="col-lg-3 col-md-6">
                <img src="assets/img/team/team-2.jpg" alt="" class="img-fluid rounded w-100 team-img">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
                <h4 class="mt-3">Michale John</h4>
                <p>Marketing Manager</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="assets/img/team/team-3.jpg" alt="" class="img-fluid rounded w-100 team-img">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
                <h4 class="mt-3">Michale John</h4>
                <p>Marketing Manager</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="assets/img/team/team-4.jpg" alt="" class="img-fluid rounded w-100 team-img">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
                <h4 class="mt-3">Michale John</h4>
                <p>Junior Developer</p>
            </div>
        </div>
    </div>
</section> -->
<!--  SECTION TEAM END  -->


<!--employer login modals-->
<div class="modal" id="postJobModal">
    <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>


        <div class="modal-body">
          <div class="form-segment">
                <h4 class="text-center">
                    Login as employer to post the job
                </h4>
            </div>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-6 text-center">
                        <div class="role-icon">
                            <img src="assets/img/icon/employer.svg" alt="">
                        </div>
                        <a [routerLink]="['/welcome/','employer','login']" class="btn btn-hero" data-dismiss="modal">Login as Employer</a>
                    </div>
                </div>
            </div>

        </div>



      </div>
    </div>
  </div>
