<div class="option-overlay"></div>
<!--MAIN BANNER AREA START -->
<div class="page-banner-area page-contact" id="page-banner">
  <div class="overlay dark-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
        <div class="banner-content content-padding">
          <h1 class="text-white">Find Jobs</h1>
          <p>
            Find jobs that suits you.
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            commodi, perspiciatis blanditiis dolorum fugiat consequatur nemo
            delectus impedit perferendis ab?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN HEADER AREA END -->

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="jobs-container">
          <div class="jobs-tools">
            <div class="d-flex justify-content-end">
              <button class="btn btn-hero filter-btn" (click)="toggleFilter()">
                <i aria-hidden="true" class="fa fa-filter"></i> Filters
              </button>
            </div>
            <div class="row align-items-center">
              <div class="col-md-8">
                <div class="sidebar-widget search">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Type the job you want to search..."
                      class="form-control"
                    />
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>

              <div class="col-md-4 text-right">
                <div class="sort-options">
                  <span>Sort By: </span>
                  <div class="option-text dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="sortOptions"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Newest
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sortOptions">
                      <a class="dropdown-item" href="index.html">
                        Popular
                      </a>
                      <a class="dropdown-item" href="index-2.html">
                        Relavance
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" *ngFor="let job of jobs">
              <div class="blog-post">
                <div class="row mt-1 mb-3">
                  <div class="col-6">
                    <div class="post-author mr-3">
                      <span
                        *ngIf="job?.jobBudgetType == 'pay by hour'"
                        class="h6 text-uppercase"
                        >&#x24; Hourly</span
                      >
                      <span
                        *ngIf="job?.jobBudgetType == 'fixed price'"
                        class="h6 text-uppercase"
                        >&#x24; Fixed Price</span
                      >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="post-info text-right">
                      <i class="fa fa-calendar-check"></i>
                      <span>{{ job?.jobPosteddate | date: "MMMM d,y" }}</span>
                    </div>
                  </div>
                </div>

                <a [routerLink]="['/job-desc', job?.jobId]" class="h4">{{
                  job?.jobTitle
                }}</a>

                <div class="mt-4">
                  <div class="job-details">
                    <h5>${{ job?.jobBudget }}</h5>
                    <p>
                      Budget
                    </p>
                  </div>
                  <div class="job-details">
                    <h5 *ngIf="job?.freelancer_level == 'entry level'">
                      Entry Level
                    </h5>
                    <h5 *ngIf="job?.freelancer_level == 'intermediate'">
                      Intermediate
                    </h5>
                    <h5 *ngIf="job?.freelancer_level == 'expert'">
                      Expert
                    </h5>
                    <p>
                      Experience Needed
                    </p>
                  </div>
                </div>

                <p class="mt-3">{{ job?.jobDesc }}</p>
                <a [routerLink]="['/job-desc', job?.jobId]" class="read-more"
                  >Know More <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!jobs.length">
            <div class="col-lg-12" *ngFor="let i of [1,2,3,4,5]">
              <div class="blog-post">
                <ngx-content-loading
                  [speed]="'1500ms'"
                  [primaryColor]="'#ddd'"
                  [secondaryColor]="'#ccc'"
                >
                  <svg:g ngx-rect width="50" height="10" y="5" x="0"></svg:g>
                  <svg:g ngx-rect width="250" height="15" y="25" x="0"></svg:g>
                  <svg:g ngx-rect width="100%" height="5" y="70" x="0"></svg:g>
                  <svg:g ngx-rect width="95%" height="5" y="80" x="0"></svg:g>
                  <svg:g ngx-rect width="90%" height="5" y="90" x="0"></svg:g>
                  <svg:g ngx-rect width="40" height="10" y="120" x="0"></svg:g>
                </ngx-content-loading>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="jobs-filters">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-widget filters">
                <div class="filter-head">
                  <button class="btn" (click)="toggleFilter()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <h4 class="mb-3">
                  <i class="fa fa-filter" aria-hidden="true"></i> Filters
                </h4>

                <div class="single-filter">
                  <h5>
                    Job Type
                  </h5>
                  <input type="checkbox" id="anyjob" value="anyjob" />
                  <label for="anyjob">Any Job</label>
                  <input type="checkbox" id="hourly" value="hourly" />
                  <label for="hourly">Hourly</label>
                  <input type="checkbox" id="fixedprice" value="fixedprice" />
                  <label for="fixedprice">Fixed Price</label>
                </div>
                <div class="single-filter">
                  <h5>
                    Client history
                  </h5>
                  <input type="checkbox" id="anyhistory" value="anyhistory" />
                  <label for="anyhistory">Any client history</label>
                  <input type="checkbox" id="nohire" value="nohire" />
                  <label for="nohire"> No hires</label>
                  <input type="checkbox" id="onetonine" value="onetonine" />
                  <label for="onetonine"> 1 to 9 hires</label>
                  <input type="checkbox" id="10hire" value="10hire" />
                  <label for="10hire"> 10+ hires</label>
                </div>

                <div class="single-filter">
                  <h5>
                    Hours per week
                  </h5>
                  <input type="checkbox" id="anyhours" value="anyhours" />
                  <label for="anyhours">Any hours per week</label>
                  <input type="checkbox" id="less30" value="less30" />
                  <label for="less30"> Less than 30 hrs/week</label>
                  <input type="checkbox" id="more30" value="more30" />
                  <label for="more30"> More than 30 hrs/week</label>
                </div>

                <div class="single-filter">
                  <h5>
                    Project length
                  </h5>
                  <input type="checkbox" id="anylength" value="anylength" />
                  <label for="anylength">Any project length</label>
                  <input
                    type="checkbox"
                    id="lessonemonth"
                    value="lessonemonth"
                  />
                  <label for="lessonemonth"> Less than 1 month</label>
                  <input type="checkbox" id="1to3months" value="1to3months" />
                  <label for="1to3months"> 1 to 3 months</label>
                  <input type="checkbox" id="3to6months" value="3to6months" />
                  <label for="3to6months"> 3 to 6 months</label>
                  <input type="checkbox" id="6months" value="6months" />
                  <label for="6months"> More than 6 months</label>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="sidebar-widget categories">
                <h4 class="mb-3">
                  Categories
                </h4>
                <a href="#">web</a>
                <a href="#">development</a>
                <a href="#">seo</a>
                <a href="#">marketing</a>
                <a href="#">branding</a>
                <a href="#">web deisgn</a>
                <a href="#">Tutorial</a>
                <a href="#">Tips</a>
                <a href="#">Design trend</a>
              </div>
            </div>
            <!-- <div class="col-lg-12">
                            <div class="sidebar-widget download">
                                <h5 class="mb-4">Download Files</h5>
                                <a href="#"> <i class="fa fa-file-pdf"></i>Company Manual</a>
                                <a href="#"> <i class="fa fa-file-pdf"></i>Company Profile</a>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

