<nav
  class="navbar navbar-expand-lg fixed-top trans-navigation"
  [class.black-header]="isBlack"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/logo.PNG" alt="" class="img-fluid b-logo" />
    </a>

    <div class="navbar-buttons">
      <div class="sidebar-widget search search-desktop">
        <input
          type="text"
          placeholder="Blockchain Developer..."
          class="form-control"
        />
        <i class="fa fa-search"></i>
      </div>
      <button class="search-btn" id="search-btn">
        <span class="search-icon">
          <i class="fa fa-search"></i>
        </span>
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
      <ul class="navbar-nav align-items-center">
        <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <a class="dropdown-item " href="index.html">
                            Home-1
                        </a>
                        <a class="dropdown-item " href="index-2.html">
                            Home-2
                        </a>
                        <a class="dropdown-item " href="index-3.html" target="blank">
                            Onepage
                        </a>
                    </div>
                </li> -->
        <!-- <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="service.html">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pricing.html">Pricing</a>
                </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/find-job']">Find Job</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/employer/post-job"
            *ngIf="share.role == 'employer'"
            >Post New Job</a
          >
          <a
            class="nav-link"
            data-toggle="modal"
            data-target="#postJobModal"
            *ngIf="!share.role"
            >Post New Job</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="modal"
            data-target="#roleModal"
            *ngIf="!share.token"
            >Get Started</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="share?.token">

          <a class="nav-link dropdown-toggle" type="button">
            <img src="assets/img/icon/user.svg" alt="" class="dd-icon">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="nav-link dropdown-item" (click)="redirectDashboard()">
              <i class="icofont-chart-bar-graph"></i>
              Dashboard</a>
            <a class="nav-link dropdown-item" (click)="logout()">
              <i class="icofont-power"></i>
              Logout</a>
          </div>

        </li>


        <!-- <li class="nav-item">
          <a class="nav-link" (click)="logout()" *ngIf="share.token">Logout</a>
        </li> -->
        <!-- <li class="nav-item">
                    <a class="nav-link" href="blog.html">Signup</a>
                </li> -->
        <!-- <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li> -->
      </ul>
    </div>
  </div>

  <div class="sidebar-widget search search-mobile">
    <input
      type="text"
      placeholder="Blockchain Developer..."
      class="form-control"
    />
    <i class="fa fa-search"></i>
  </div>
</nav>

<!-- THE MODALS -->

<!--role modals-->
<div class="modal" id="roleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="form-segment">
          <h4 class="text-center">
            Select your role on the platform
          </h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-6 text-center">
              <div class="role-icon">
                <img src="assets/img/icon/freelancer.svg" alt="" />
              </div>
              <a
                [routerLink]="['/welcome/', 'freelancer', 'login']"
                class="btn btn-hero"
                data-dismiss="modal"
                >Freelancer</a
              >
            </div>
            <div class="col-6 text-center">
              <div class="role-icon">
                <img src="assets/img/icon/employer.svg" alt="" />
              </div>
              <a
                [routerLink]="['/welcome/', 'employer', 'login']"
                class="btn btn-hero"
                data-dismiss="modal"
                >Employer</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<!--employer login modals-->
<div class="modal" id="postJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="form-segment">
          <h4 class="text-center">
            Login as employer to post the job
          </h4>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center">
              <div class="role-icon">
                <img src="assets/img/icon/employer.svg" alt="" />
              </div>
              <a
                [routerLink]="['/welcome/', 'employer', 'login']"
                class="btn btn-hero"
                data-dismiss="modal"
                >Login as Employer</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
